.mypage {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container {
    justify-content: flex-start;
    width: 80%;
}

.container__title {
    font-size: 20px;
    justify-content: flex-start;

}

.container__line {
    background-color: #000000;
    flex-shrink: 0;
    height: 0.1rem;
    margin-bottom: 1rem;
    width: 100%;
}